---
import { getBackgroundColor } from "../../utils/tagManipulation";
import { getSearchParamUrl } from "../../utils/tagManipulation";

const { tagsObj } = Astro.props;
console.log("astro tagsObject", tagsObj);
---

<div class="flex flex-wrap gap-2 px-4 py-2">
  {
    Object.entries(tagsObj).map(([tagCat, tags]) => {
      console.log(tags);
      return tags.map((tag) => {
        return (
          <a
            class="bg-primary text-white px-1.5 py-1 rounded-md text-xs"
            style={{ backgroundColor: getBackgroundColor(tagCat) }}
            href={getSearchParamUrl(tag)}
          >
            {tag}
          </a>
        );
      });
    })
  }
</div>
