---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import Headline from "@components//blog/BlogHeadline.astro";
import BlogList from "@components/blog/BlogList.astro";

const posts = await getCollection("blog");
---

<BaseLayout>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline subtitle="Read the latest updates on OSSI-supported projects.">
      The Blog
    </Headline>
    <BlogList posts={posts}>
      <!--
      <PostTags tags={allCategories} class="mb-2" title="Search by Categories:" isCategory />
      <PostTags tags={allTags}  title="Search by Tags:" />
    -->
    </BlogList>
  </section>
</BaseLayout>
