---
import { YouTube } from "astro-embed";

const { frontmatter } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;
---

<div
  class="flex flex-col pb-12 lg:pb-0 lg:ml-6 bg-primary lg:bg-page items-center"
>
  {
    frontmatter["youtube url"] && (
      <YouTube
        id={frontmatter["youtube url"]}
        title={frontmatter["youtube title"]}
        class="w-full lg:self-start"
      />
    )
  }
  {
    !frontmatter["youtube url"] && frontmatter["image file"] && (
      <img
        src={`${baseUrl}/project-images/${frontmatter["image file"]}`}
        class="w-full lg:mx-6 bg-gray-400 dark:bg-slate-700"
        loading="eager"
        alt={frontmatter["image alt text"]}
        title={frontmatter["image alt text"]}
      />
    )
  }
</div>
