---
import { getCollection } from 'astro:content';

import BaseLayout from '../../layouts/BaseLayout.astro';
import Headline from '../../components/Headline.astro';
import List from '../../components/blog/List.astro';

const posts = await getCollection("blog")
---

<BaseLayout>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline
      subtitle="A placeholder blog landing page for OSSI-supported projects and ecosystems. Read the latest updates here."
    >
      The Blog
    </Headline>
    <List posts={posts}>
    <!--
      <PostTags tags={allCategories} class="mb-2" title="Search by Categories:" isCategory />
      <PostTags tags={allTags}  title="Search by Tags:" />
    -->
  </section>
</BaseLayout>
