---
import { getEntries } from "astro:content";
import BaseLayout from "./BaseLayout.astro"
import { Image } from "astro:assets";
import Link from "../components/Link.astro";
import ContentListDisplay from "../components/ContentListDisplay.astro";

const { frontmatter } = Astro.props;
const relatedProjects = frontmatter['related projects'] ? await getEntries(frontmatter['related projects']) : null;
---
<BaseLayout>
  <div class="mx-auto px-6 sm:px-6 pt-8 md:pt-4 max-w-6xl">
    <Link class="md:hidden" text="Ecosystems" url="../../ecosystems"/>
  </div>
  <article class="py-8 md:py-16 lg:py-20 mx-auto max-w-6xl md:grid md:grid-cols-6">
    <div class="md:col-span-4">
      <section >
        <h1
          class="px-6 max-w-3xl mx-auto text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading"
        >
          {frontmatter.title}
        </h1>
        <p
          class="max-w-3xl mx-auto mt-6 md:mt-10 px-6 text-xl md:text-2xl text-muted dark:text-slate-400"
        >
          {frontmatter.tagline}
        </p>

        {
          frontmatter['image file'] ? (
            <div class="px-4 mt-6 md:mt-10">
              <Image
                src={frontmatter['image file']}
                class="max-w-full mx-auto mb-6 rounded-md bg-gray-400 dark:bg-slate-700"
                widths={[400, 900]}
                sizes="(max-width: 900px) 400px, 900px"
                alt={frontmatter['image alt text']}
                loading="eager"
                width={900}
                height={506}
                loading="eager"
                decoding="async"
              />
            </div>
            
          ) : (
            <div class="max-w-3xl mx-auto px-6 my-6 md:my-10">
              <div class="border-t dark:border-slate-700" />
            </div>
          )
        }
      </section>

      <section class="mx-auto px-6 max-w-3xl my-6 md:my-10 prose prose-lg lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg">
          <!-- This slot is where the content is rendered -->
          <slot/>
      </section>

    </div>

    <div class="mt-10 md:mt-0 md:col-start-5 md:col-span-2">
      <div class="max-w-3xl mx-auto px-6 my-6 md:hidden">
        <div class="border-t dark:border-slate-700" />
      </div>
      
        {relatedProjects && (
        <ContentListDisplay
          title="Related projects"  
          information='Learn more about projects in this ecosystem'
          content="projects"
          subset={relatedProjects}
        />
        )}
        
    </div>

  </article>
</BaseLayout>
