---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import CallToAction from "../components/CallToAction.astro";
import ContentGridDisplay from "../components/ContentGridDisplay.astro";
import ContributorList from "../components/ContributorList.astro";
import TextBlock from "../components/TextBlock.astro";

import {
  getContributors,
  getMostRecentContributors,
} from "../utils/githubApiHelper";

const numberOfRecentContributors = 3;
let contributors = [];
try {
  const { data } = await getContributors();
  contributors = getMostRecentContributors(data, numberOfRecentContributors);
} catch (error) {
  console.error("Error - contributor widget on homepage: ", error);
}

const baseUrl = import.meta.env.BASE_URL;
// console.log(baseUrl)
---

<BaseLayout>
  <Hero backgroundPath="/src/assets/images/ExM-data-VVD-Viewer-2.png">
    <Fragment slot="title">Janelia Open Science Software Initiative</Fragment>
    <Fragment slot="subtitle">
      Tagline about the Janelia Open Science Software Initiative
    </Fragment>
  </Hero>

  <CallToAction
    actions={[
      {
        variant: "primary",
        text: "Projects",
        href: `${baseUrl}/projects`,
      },
      {
        text: "Ecosystems",
        href: `${baseUrl}/ecosystems`,
      },
    ]}
  >
    <Fragment slot="content">
      The goal of the Open Science Software Initiative is to support scientists
      at Janelia to create, extend, maintain, and/or document user-friendly and
      developer-friendly open source software.<br /><br />Explore OSSI-supported
      project in two ways - through individual projects or project ecosystems.
    </Fragment>
  </CallToAction>

  <ContentGridDisplay
    title="OSSI Blog"
    information="Read the latest updates on OSSI-supported projects."
    content="blog"
    linkText="View all posts"
    linkUrl={`${baseUrl}/blog`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-900"></div>
    </Fragment>
  </ContentGridDisplay>

  <!-- The "see all contributors" link should ultimately open a new tab with the Contributors list on the public Github repository -->
  <ContributorList
    title="Recent contributors"
    callToAction={{
      text: "See all contributors »",
      href: "https://github.com/JaneliaSciComp/ossi-website",
      target: "_blank",
    }}
    items={contributors.map((contributor) => {
      return {
        description: contributor.authorInfo.login,
        icon: contributor.authorInfo.avatar_url,
        url: contributor.authorInfo.html_url,
      };
    })}
  />

  <CallToAction
    actions={[
      {
        variant: "primary",
        text: "Documentation",
        href: "https://github.com/JaneliaSciComp/ossi-website",
        target: "_blank",
      },
    ]}
  >
    <Fragment slot="content">
      Statement about the goals of the Open Source Science Initiative as related
      to ability to contribute to this site. Statement about the goals of OSSI
      as related to ability to contribute to this site.
      <br /><br />
      We welcome contributions, including project information and blog posts, from
      researchers and developers working on OSSI-support projects. Read the documentation
      on the site's GitHub repository to get started.
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-900"></div>
    </Fragment>
  </CallToAction>
</BaseLayout>
