---
import Image from "astro/components/Image.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero";
import TextBlock from "../components/TextBlock.astro";
import Wrapper from "../components/Wrapper.astro";

import ossiPhasesImgWhite from "../assets/images/ossi_phases-white.png";
import ossiPhasesImgBlack from "../assets/images/ossi_phases-black.png";

const baseUrl = import.meta.env.BASE_URL;
---

<BaseLayout>
  <Hero
    client:load
    title="Open Science Software Initiative"
    subtitle="The goal of OSSI is to support scientists at Janelia to create, extend, maintain and/or document user-friendly and developer-friendly open source software"
    heightClasses="h-96"
    paddingClasses="max-w-[1150px] 2xl:max-w-[1300px]"
  />
  <Wrapper
    containerClass="py-8 md:py-16 mx-auto max-w-[1150px] 2xl:max-w-[1300px] flex flex-col items-center"
  >
    <TextBlock>
      <Fragment slot="title"
        >About the Janelia Open Science Software Initiative (OSSI)</Fragment
      >
      <Fragment slot="content">
        Open-source code and software are immensely important to progress in all
        areas of science. Sharing code allows the same analyses to be performed
        across labs, facilitates wide-spread use of computational tools that are
        increasingly important in biology, and enables for different groups to
        build on top of others’ achievements. Additionally, the transparency
        that open-source code provides creates trust in results produced by
        scientific software.
        <br /><br />
        The challenge at Janelia is not to convince researchers that they should
        share their code but to help them do this as efficiently and productively
        as possible. Importantly, sharing code successfully requires more than just
        releasing it as-is under an open license. Only well-designed and well-documented
        code is easy to reuse or modify for new applications by other developers
        (developer-friendly), which usually constitutes significant efforts. Similarly
        hard is the design of intuitive user interfaces that allow scientists without
        expert knowledge of the underlying algorithms to use the software (user-friendly).
        Additionally, sustained long-term effort is often required to support such
        code and software over its lifetime — providing user support, fixing bugs,
        and maintaining the code. These efforts are not yet reliably recognized as
        part of scientists’ career-related work, particularly outside of Janelia,
        although they can easily take the majority of time spent on any project involving
        software. This forces many scientists to carefully balance between creating
        widely useful code/software and moving on to the next project. Therefore,
        the <a
          href="https://www.janelia.org/node/65124"
          target="_blank"
          style={"color: var(--color-primary)"}>Computation & Theory (C&T)</a
        > research area and <a
          href="https://www.janelia.org/node/45241"
          target="_blank"
          style={"color: var(--color-primary)"}
          >Scientific Computing Software (SciCompSoft)</a
        > created the <span style={"font-weight: bold"}
          >Open Science Software Initiative (OSSI)</span
        > to support Janelia researchers in their efforts to create impactful open
        source software.
      </Fragment>
    </TextBlock>
    <TextBlock>
      <Fragment slot="subtitle">Call for projects</Fragment>
      <Fragment slot="content">
        We invite proposals for Open-Source Software projects from scientists at
        Janelia. The aim of a proposal should generally be to develop, maintain
        and/or document developer-friendly, user-friendly code that promises to
        have a significant impact on the community.
      </Fragment>
    </TextBlock>
    <TextBlock>
      <Fragment slot="subtitle">OSSI Project Lifecycle</Fragment>
      <Fragment slot="content">
        OSSI project proposals enter in a <b>Proposed</b> state and after being evaluated
        are either moved to <b>Accepted</b> state or rejected (see diagram below).
        Proposals for otherwise great projects may be rejected due of lack of funding,
        or because they don't meet criteria for being considered ideal open science
        projects. In such cases, Scientific Computing Software can still help develop
        the project if alternative funding is identified. After moving to the <b
          >Accepted</b
        > state, Scientific Computing Software will attempt to find software developers
        to work on the project, either from within the department, or by hiring contractors.
        Once developers are identified, the project will move to
        <b>Active Development</b>. During this phase, the goals of the project
        proposal will be iterated until completion. Once the proposal goals are
        achieved, the project will move to <b>Maintenance</b> state, which provides
        minimal ongoing support for the project such as critical bug fixes and dependency
        updates. A project may be moved back to
        <b>Active Development</b> if additional features are needed and funding is
        available. If a project's usefulness to the open science community declines,
        it may be moved to a <b>Graceful End</b> state which signifies a closing
        of OSSI involvement with the project. This may involve a hand-off or project
        archival. All of these lifecycle decisions are made in close collaboration
        with the project owners.
      </Fragment>
    </TextBlock>
    <div class="max-w-fit">
      <Image
        src={ossiPhasesImgWhite}
        alt="Phase diagram of OSSI projects. Projects move linearly from 'proposed' to 'accepted' to 'active development.' From there, projects cycle between 'active development' and 'maintenance.' The final phase is 'graceful end.'"
        class="hidden dark:block"
      />
      <Image
        src={ossiPhasesImgBlack}
        alt="Phase diagram of OSSI projects. Projects move linearly from 'proposed' to 'accepted' to 'active development.' From there, projects cycle between 'active development' and 'maintenance.' The final phase is 'graceful end.'"
        class="block dark:hidden"
      />
      <p class="self-start italic pb-4">
        The phases of an OSSI-funded project.
      </p>
    </div>

    <TextBlock>
      <Fragment slot="subtitle">Details</Fragment>
      <Fragment slot="content">
        The creation of OSSI in 2022 was encouraged by the strong open science
        community at Janelia. The specifics were finalized by
        <a
          style={"color: var(--color-primary)"}
          href="https://www.janelia.org/people/kristin-branson"
          >Kristin Branson</a
        >,
        <a
          style={"color: var(--color-primary)"}
          href="https://www.janelia.org/people/reed-george">Reed George</a
        >,
        <a
          style={"color: var(--color-primary)"}
          href="https://www.janelia.org/people/wyatt-korff">Wyatt Korff</a
        >,
        <a
          style={"color: var(--color-primary)"}
          href="https://www.janelia.org/people/stephan-preibisch"
          >Stephan Preibisch</a
        >,
        <a
          style={"color: var(--color-primary)"}
          href="https://www.janelia.org/people/konrad-rokicki">Konrad Rokicki</a
        >,
        <a
          style={"color: var(--color-primary)"}
          href="https://www.janelia.org/people/stephan-saalfeld"
          >Stephan Saalfeld</a
        >, and
        <a
          style={"color: var(--color-primary)"}
          href="https://www.janelia.org/people/ronald-vale">Ron Vale</a
        >. OSSI is funded through the Technology and Open Science Center fund
        (SciCompSoft internal funding) with strong support from Wyatt Korff
        (project teams), Reed George (Scientific Operations), the Saalfeld lab,
        and the executive director of Janelia (Ron Vale).
      </Fragment>
    </TextBlock>
  </Wrapper>
</BaseLayout>
