---
import { headerData } from "../data/navigation";
import ToggleTheme from "../components/ToggleTheme.astro";

const baseUrl = import.meta.env.BASE_URL;
---

<header
  class="scroll fixed top-0 z-40 flex-none mx-auto w-full border-b border-gray-50/0 transition-[opacity] ease-in-out"
  data-sticky-header="true"
  id="header"
>
  <div class="absolute inset-0 bg-white dark:bg-dark"></div>
  <div
    class="relative text-default py-3 px-3 lg:px-6 mx-auto w-full lg:flex lg:justify-between"
  >
    <div class="mr-auto rtl:mr-0 rtl:ml-auto flex justify-between">
      <a class="flex items-center" href={baseUrl}>
        <span
          class="min-[600px]:hidden self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl lg:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
        >
          🔬 OSSI@Janelia
        </span>
        <span
          class="hidden min-[600px]:block self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl lg:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
        >
          🔬 Janelia Open Science Software Initiative
        </span>
      </a>
      <div class="flex items-center lg:hidden">
        <button
          class="flex flex-col h-12 w-12 rounded justify-center items-center cursor-pointer group"
          aria-label="Toggle Menu"
          data-aw-toggle-menu
        >
          <span class="sr-only">Toggle Menu</span>
          <slot>
            <span
              aria-hidden="true"
              class="h-0.5 w-6 my-1 rounded-full bg-black dark:bg-white transition ease transform duration-200 opacity-80 group-[.expanded]:rotate-45 group-[.expanded]:translate-y-2.5"
            ></span>
            <span
              aria-hidden="true"
              class="h-0.5 w-6 my-1 rounded-full bg-black dark:bg-white transition ease transform duration-200 opacity-80 group-[.expanded]:opacity-0"
            ></span>
            <span
              aria-hidden="true"
              class="h-0.5 w-6 my-1 rounded-full bg-black dark:bg-white transition ease transform duration-200 opacity-80 group-[.expanded]:-rotate-45 group-[.expanded]:-translate-y-2.5"
            ></span>
          </slot>
        </button>
      </div>
    </div>

    <nav
      class="items-center w-full lg:w-auto hidden lg:flex text-default overflow-y-auto overflow-x-hidden lg:overflow-y-visible lg:overflow-x-auto lg:mx-5"
      aria-label="Main navigation"
    >
      <ul
        class="flex flex-col lg:flex-row lg:self-center w-full lg:w-auto text-xl lg:text-[0.9375rem] tracking-[0.01rem] font-medium"
      >
        {
          headerData.links.map(({ text, href }) => (
            <li>
              <a
                class="hover:text-link dark:hover:text-white px-4 py-3 flex items-centers"
                href={href}
              >
                {text}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <div
      class="hidden lg:self-center lg:flex items-center lg:mb-0 fixed w-full lg:w-auto lg:static justify-end left-0 rtl:left-auto rtl:right-0 bottom-0 p-3 lg:p-0"
    >
      <ToggleTheme iconClass="w-6 h-6 md:w-5 md:h-5 md:inline-block" />
    </div>
  </div>
</header>
