---
const { text, url } = Astro.props;
---

<a
  class="underline transition ease-in duration-200 hover:text-primary dark:text-slate-300 dark:hover:text-accent cursor-pointer"
  href={url}
>
  {text}
</a>
