---
import { twMerge } from "tailwind-merge";

const { id, containerClass, bg, padding, as = "section" } = Astro.props;

const WrapperTag = as;
---

<WrapperTag class="relative not-prose" {...id ? { id } : {}}>
  <div class="absolute inset-0 pointer-events-none -z-[1]" aria-hidden="true">
    <slot name="bg">
      {bg && <Fragment set:html={bg} />}
    </slot>
  </div>
  <div
    class:list={[
      twMerge(
        "relative max-w-7xl px-4 md:px-12 lg:px-20 xl:px-32 text-default",
        containerClass,
        padding
      ),
    ]}
  >
    <slot />
  </div>
</WrapperTag>
