---
import BlogItem from "./BlogListItem.astro";

const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <li class="mb-12 md:mb-20">
        <BlogItem post={post} />
      </li>
    ))
  }
</ul>
