---
import "../styles/tailwind.css";
import CustomStyles from "../styles/CustomStyles.astro";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const baseUrl = import.meta.env.BASE_URL;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={`${baseUrl}/favicon.ico`} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>OSSI@Janelia</title>
    <CustomStyles />
    <!-- Fathom - beautiful, simple website analytics -->
    <script
      is:inline
      src="https://cdn.usefathom.com/script.js"
      data-site="IXJHIFAC"
      defer></script>
    <!-- / Fathom -->
  </head>
  <body class="text-default bg-page min-h-screen flex flex-col">
    <Header />
    <slot />
    <Footer />
    <script>
      import "../scripts/navbarFunctions.js";
    </script>
    <script>
      import "../scripts/fathomEvents.js";
    </script>
  </body>
</html>
