---
import { getCollection } from "astro:content"
import "../../styles/tailwind.css"

import BaseLayout from '../../layouts/BaseLayout.astro';
import Hero from "../../components/Hero.astro";
import ProjectSearch from "../../components/projects/ProjectSearch.jsx";

import {extractUniqueTags} from "../../utils/tagManipulation.js"

const pageTitle = "OSSI-supported projects"
const allProjects = await getCollection('projects')
const uniqueTags = extractUniqueTags(allProjects)
---
<BaseLayout pageTitle={pageTitle}>
    <Hero>
        <Fragment slot="title">Projects</Fragment>
        <Fragment slot="subtitle">Tagline describing what "projects" are</Fragment>
    </Hero>
    <section class="px-6 py-2 md:py-12 lg:py-20 mx-auto max-w-6xl">
        <ProjectSearch
            client:load
            key="ProjectSearch" 
            uniqueTags={uniqueTags}
            allProjects={allProjects}
        />
    </section>
</BaseLayout>