---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import TextBlock from '../components/TextBlock.astro';
import ContributorList from '../components/ContributorList.astro';
import Wrapper from '../components/Wrapper.astro';

import {getContributorStats, getMostRecentContributionWeekByAuthor} from "../utils/githubApiHelper"
const numberOfRecentContributors = 3;
const {data} = await getContributorStats()
const contributors = getMostRecentContributionWeekByAuthor(data, numberOfRecentContributors)

---
<BaseLayout>

	<Hero>
		<Fragment slot="title">About</Fragment>
		<Fragment slot="subtitle">The goal of OSSI is to support scientists at Janelia to create, extend, maintain and/or document user-friendly and developer-friendly open source software</Fragment>
	</Hero>

	<Wrapper containerClass='max-w-5xl mx-auto'>
		<div class="max-w-3xl pt-6 rounded-md">
			<TextBlock>
				<Fragment slot="content">
					Open-source code and software are immensely important to progress in all areas of science. Sharing code allows the same analyses to be performed across labs, facilitates wide-spread use of computational tools that are increasingly important in biology, and enables for different groups to build on top of others’ achievements. Additionally, the transparency that open-source code provides creates trust in results produced by scientific software.
					<br/><br/>
					The challenge at Janelia is not to convince researchers that they should share their code but to help them do this as efficiently and productively as possible. Importantly, sharing code successfully requires more than just releasing it as-is under an open license. Only well-designed and well- documented code is easy to reuse or modify for new applications by other developers (developer-friendly), which usually constitutes significant efforts. Similarly hard is the design of intuitive user interfaces that allow scientists without expert knowledge of the underlying algorithms to use the software (user-friendly). Additionally, sustained long-term effort is often required to support such code and software over its lifetime -- providing user support, fixing bugs, and maintaining the code. These efforts are not yet reliably recognized as part of scientists’ career-related work, particularly outside of Janelia, although they can easily take the majority of time spent on any project involving software. This forces many scientists to carefully balance between creating widely useful code/software and moving on to the next project. Therefore, the Computation & Theory (C&T) research area and Scientific Computing Software (SciComp) created the Open Science Software Initiative (OSSI) to support Janelia researchers in their efforts to create impactful open source software.
				</Fragment>
			</TextBlock>
			<TextBlock>
				<Fragment slot="subtitle">
					Open positions
				</Fragment>
				<Fragment slot="content">
					Janelia is home to a community that is excited about Open Source Software. If you are also excited about Open Science Software and want to develop and extend outstanding software apply today! We are currently hiring for multiple positions within OSSI, SciComp and C&T, all related to Open Science Software.
				</Fragment>
			</TextBlock>
			<TextBlock>
				<Fragment slot="subtitle">
					Call for projects
				</Fragment>
				<Fragment slot="content">
					In regular intervals we are inviting proposals for Open-Source Software projects from scientists at Janelia. The aim of a proposal should generally be to develop, maintain and/or document developer-friendly, user-friendly code that promises to have a significant impact on the community.
				</Fragment>
			</TextBlock>
			<TextBlock>
				<Fragment slot="subtitle">
					Details
				</Fragment>
				<Fragment slot="content">
					The creation of OSSI was encouraged by the strong open science community at Janelia. The specifics were finalized by Kristin Branson, Reed George, Wyatt Korff, Stephan Preibisch, Konrad Rokicki, Stephan Saalfeld, and Ron Vale. OSSI is funded through the Technology and Open Science Center fund (SciComp internal funding) with strong support from Wyatt Korff (project teams), Reed George (Scientific Operations), the Saalfeld lab, and the executive director of Janelia (Ron Vale).	
				<Fragment slot="content">
			</TextBlock>
		</div>
	</Wrapper>	


  <ContributorList
    title="Recent contributors"
    callToAction={{
      text: 'See all contributors »',
      href: '/',
    }}
    items={contributors.map(contributor => {
		return {
		  description: contributor.authorInfo.login,
		  icon: contributor.authorInfo.avatar_url,
		  url: contributor.authorInfo.html_url
		}
	  }
	  )}
  >
  	<Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-900"></div>
    </Fragment>
  </ContributorList>


</BaseLayout>