---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import CallToAction from "../components/CallToAction.astro"
import ContentGridDisplay from '../components/ContentGridDisplay.astro';
import ContributorList from '../components/ContributorList.astro';
import TextBlock from '../components/TextBlock.astro';

import {getContributors, getMostRecentContributors} from "../utils/githubApiHelper"
const numberOfRecentContributors = 3;
let contributors = []
try{
  const data = await getContributors(numberOfRecentContributors)
  contributors = getMostRecentContributors(data, numberOfRecentContributors)
} catch(error){
  console.error('error in main process: ', error)
}
---
<BaseLayout>

	<Hero>
		<Fragment slot="title">OSSI@Janelia</Fragment>
		<Fragment slot="subtitle">Open Science Software Initiative at Janelia</Fragment>
	</Hero>

  <TextBlock>
    
  </TextBlock>

	<CallToAction
		actions={[
		{
			variant: 'primary',
			text: 'Projects',
			href: '/projects',
		},
		{ 
      text: 'Ecosystems', 
      href: '/ecosystems',
    },
		]}
  >
	<Fragment slot="content">
		The goal of the Open Science Software Initiative is to support scientists at Janelia to create, extend, maintain,
		and/or document user-friendly and developer-friendly open source software.<br /><br />Explore OSSI-supported
		project in two ways - through individual projects or project ecosystems.
	</Fragment>

  </CallToAction>

  <ContentGridDisplay
    title="OSSI Blog"
    information='Read the latest updates on OSSI-supported projects.'
    content="blog"
    linkText="View all posts"
    linkUrl="/blog"
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-900"></div>
    </Fragment>
  </ContentGridDisplay>

  <!-- The "see all contributors" link should ultimately open a new tab with the Contributors list on the public Github repository -->
  <ContributorList
    title="Recent contributors"
    callToAction={{
      text: 'See all contributors »',
      href: '/',
    }}
    items={contributors.map(contributor => {
      return {
        description: contributor.authorInfo.login,
        icon: contributor.authorInfo.avatar_url,
        url: contributor.authorInfo.html_url
      }
    }
    )}
  />

  <CallToAction
   actions={[
     {
       variant: 'primary',
       text: 'Documentation',
       href: '/documentation',
     }
   ]}
 >
    <Fragment slot="content">
      Learn more about contributing to this site.    
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-900"></div>
    </Fragment>

 </CallToAction>

</BaseLayout>