---
import { getCollection } from "astro:content"

import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectCard from '../components/ProjectCard.astro'

const allProjects = await getCollection('projects')
const pageTitle = "OSSI-supported projects"

---
<BaseLayout pageTitle={pageTitle}>
	<p>Additional text about projects</p>
    <ul>
        {allProjects.map((project) => (
            <ProjectCard url={`/projects/${project.slug}/`} title={project.data.title}/>
        ))}
       </ul>
</BaseLayout>
