---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectCard from '../components/ProjectCard.astro'

const allProjects = await Astro.glob('../pages/projects/*.md')
const pageTitle = "OSSI-supported projects"

---
<BaseLayout pageTitle={pageTitle}>
	<p>Additional text about projects</p>
    <ul>
        {allProjects.map((project) => (
            <ProjectCard url={project.url} title={project.frontmatter.title}/>
        ))}
       </ul>
</BaseLayout>
