---
// import ToggleMenu from "~/components/common/ToggleMenu.astro";

const links = [
    {
        text: "Home",
        href:"/"
    },
    {
        text: "Projects",
        href: "/projects"
    },
    {
        text: "About",
        href:"/about"
    }
]
---

<header
  class="top-0 z-40 flex-none mx-auto w-full border-b border-gray-50/0 transition-[opacity] ease-in-out"
  id = "header"
>
  <div class="absolute inset-0 bg-white dark:bg-dark"></div>
  <div
    class=
      "relative text-default py-3 px-3 md:px-6 mx-auto w-full md:flex md:justify-between"
  >
    <div class="mr-auto rtl:mr-0 rtl:ml-auto flex justify-between">
      <a class="flex items-center" href="/">
        <span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
            🔬 OSSI@Janelia
        </span>
      </a>
      <div class="flex items-center md:hidden">
        <button
          class="flex flex-col h-12 w-12 rounded justify-center items-center cursor-pointer group"
          aria-label='Toggle Menu'
          data-aw-toggle-menu
        >
          <span class="sr-only">Toggle Menu</span>
          <slot>
            <span
              aria-hidden="true"
              class="h-0.5 w-6 my-1 rounded-full bg-black dark:bg-white transition ease transform duration-200 opacity-80 group-[.expanded]:rotate-45 group-[.expanded]:translate-y-2.5"
            ></span>
            <span
              aria-hidden="true"
              class="h-0.5 w-6 my-1 rounded-full bg-black dark:bg-white transition ease transform duration-200 opacity-80 group-[.expanded]:opacity-0"
            ></span>
            <span
              aria-hidden="true"
              class="h-0.5 w-6 my-1 rounded-full bg-black dark:bg-white transition ease transform duration-200 opacity-80 group-[.expanded]:-rotate-45 group-[.expanded]:-translate-y-2.5"
            ></span>
          </slot>
        </button>
      </div>
    </div>

    <nav
      class="items-center w-full md:w-auto hidden md:flex text-default overflow-y-auto overflow-x-hidden md:overflow-y-visible md:overflow-x-auto md:mx-5"
      aria-label="Main navigation"
    >
      <ul
        class="flex flex-col md:flex-row md:self-center w-full md:w-auto text-xl md:text-[0.9375rem] tracking-[0.01rem] font-medium"
      >
        {
          links.map(({ text, href }) => (
            <li>
                <a
                  class= "hover:text-link dark:hover:text-white px-4 py-3 flex items-centers"
                  href={href}
                >
                  {text}
                </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
