---
const {text, url} = Astro.props
---

<a 
    class="border-b-2 transition ease-in duration-200 hover:bg-gray-100 hover:border-gray-600 dark:text-slate-300 dark:border-slate-500 dark:hover:bg-slate-800 dark:hover:border-slate-800 cursor-pointer" 
    href={url}
>
    {text}
</a>
